body {
    overflow-x: hidden;
}
#todo{
    width: 100%;
    display: flex;
    height: 100%;
}

#sidebar-wrapper {
    background: #00ffff;
    width: 20%;
    height: 900px;
    background: #363F4A;
}
#sidebar-wrapper h2{
    text-align: center;
    margin: 0;
    padding: 20px 15px;
}
#sidebar-wrapper a{
    display: block;
    text-decoration: none;
    color: #ffffff;
    padding: 30px 10px;
    width: 531px;
}
#sidebar-wrapper ul{
    list-style: none;
    padding: 0;
    margin: 50px 20px 50px 40px;

}
#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}
     
/*de youtube*/
#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

#contenido{
    width: 100%;
    height: 100%;
}
.ocultar{
    display: none;
}
.content{
    /*width:1600px;*/
}